/*
    Authoren: Matthias Fischer, Fabian Hagengers, Jonathan Hermsen
 */

#wrapper > .row {
    padding-top: 75px;
}

.event-input-group {
    padding-top: 2px;
    padding-bottom: 2px;
}

.event-input-icon {
    width: 43px;
}

.my-message {
    padding-top: 5px;
}