/*
    Autoren: Matthias Fischer, Fabian Hagengers, Jonathan Hermsen
 */

#wrapper > .row {
    margin-right: 0px !important;
    margin-left: 0px !important;
    padding-top: 75px;
}

.week center,
.week center a {
    color: #FFF;
}

.week-controls {
    margin-top: 5px;
}

table thead tr {
    background-color: #EEE;
}

table tbody tr {
    background-color: #FFF;
}

input,
select,
textarea {
    margin-bottom: 15px;
}

.add-event h4 {
    color: #FFF;
    margin-bottom: 40px;
    display: inline-block;
    margin-right: 10px;
}

.event-input-icon {
    width: 43px;
}