#wrapper > .events {
    padding-top: 80px;
    font-size: 1.5rem;
}

.week center,
.week center a {
    color: #FFF;
}

table thead tr {
    background-color: #EEE;
}
table tbody tr {
    background-color: #FFF;
}

.row {
    padding: 20px;
}

input,
select,
textarea {
    margin-bottom: 15px;
}

.add-event h4 {
    color: #FFF;
    margin-bottom: 40px;
    display: inline-block;
    margin-right: 10px;
}