/*
    Autoren: Matthias Fischer, Fabian Hagengers, Jonathan Hermsen
 */

body {
    background-color: #427BE3;
    height: 100%;
}

#login-card {
    width: 100%;
    padding: 20px;
    margin-top: 30%;
    background-color: rgba(255, 255, 255, 0.9);
    text-align: center;
    border-radius: 10px;
}

#login-card > h1 {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5rem;
    color: #333;
}

#login-card > #login-form > #login-btn:hover {
    cursor: pointer;
}

#login-card > #login-form > .input-group {
    margin-bottom: 20px;
}

#login-card > #login-form > .input-group > .input-group-addon {
    width: 40px;
}