#wrapper > .row {
    margin-right: 0px!important;
    margin-left: 0px!important;
    /*padding-top: 75px;*/
}

.nav-tabs {
    width: 100%;
    margin-top: 5px;
}
.nav-tabs .nav-item {
    margin-left: 20px;
}
.nav-tabs .nav-item .nav-link {
    color: #FFF;
}
.nav-tabs .nav-item .nav-link.active {
    color: #007bff;
}

.period-control {
    margin-left: 20px;
    margin-top: 10px;
    display: table;
}
.period-control .period {
    display: table-cell;
    vertical-align: middle;
    font-size: 1.1rem;
    color: #FFF;
}
.period-control .btn-control {
    margin-right: 5px;
    margin-left: 5px;
}

.projectweek-nav {
    background-color: #FFF;
    color: #007bff;
}

.projectweek-nav:hover {
    background-color: #FFF;
    color: #0056b3;
}

.projectweek-nav:active {
    background-color: #FFF;
    color: #0056b3;
}

.projectweek-text,
.projectweek-text:not([href]):not([tabindex]),
.projectweek-text:not([href]):not([tabindex]):hover {
    color: #fff;
}

.priority-label {
    margin-bottom: 15px;
}

.tab-col {
    padding: 20px 35px;
}

.tab-content {
    width: 100%;
}

.list-group {
    margin-bottom: 25px;
}
.event-list .event-title {
    font-weight: 700;
    font-size: 1.3rem;
}
.event-list .event-information {
    margin-top: 15px;
}
.event-list .event-information td:nth-child(2) {
    padding-left: 10px;
}

.calender-event {
    width: 100%;
    line-height: 150px;
    border-radius: 5px;
    padding: 10px;
    font-weight: 500;
    vertical-align: middle;
    text-align: center;
}
.calender-event.two-rows {
    height: 365px;
    line-height: 340px;
}
.calender-event.one {
    background-color: salmon;
}
.calender-event.one.not-approved {
    background: repeating-linear-gradient(
            45deg,
            salmon,
            #fdd3ce 10px,
            salmon 10px,
            #fdd3ce 20px
    );
}
.calender-event.two {
    background-color: lightpink;
}
.calender-event.two.not-approved {
    background: repeating-linear-gradient(
            45deg,
            #ff667d,
            lightpink 10px,
            #ff667d 10px,
            lightpink 20px
    );
}
.calender-event.three {
    background-color: coral;
}
.calender-event.three.not-approved {
    background: repeating-linear-gradient(
            45deg,
            coral,
            #ffdacc 10px,
            coral 10px,
            #ffdacc 20px
    );
}
.calender-event.four {
    background-color: khaki;
}
.calender-event.four.not-approved {
    background: repeating-linear-gradient(
            45deg,
            khaki,
            #f9f5d2 10px,
            khaki 10px,
            #f9f5d2 20px
    );
}
.calender-event.five {
    background-color: plum;
}
.calender-event.five.not-approved {
    background: repeating-linear-gradient(
            45deg,
            plum,
            #f2d9f2 10px,
            plum 10px,
            #f2d9f2 20px
    );
}
.calender-event.six {
    background-color: palegreen;
}
.calender-event.six.not-approved {
    background: repeating-linear-gradient(
            45deg,
            palegreen,
            #cefdce 10px,
            palegreen 10px,
            #cefdce 20px
    );
}
.calender-event.seven {
    background-color: olive;
}
.calender-event.seven.not-approved {
    background: repeating-linear-gradient(
            45deg,
            olive,
            #cccc00 10px,
            olive 10px,
            #cccc00 20px
    );
}
.calender-event.eight {
    background-color: paleturquoise;
}
.calender-event.eight.not-approved {
    background: repeating-linear-gradient(
            45deg,
            paleturquoise,
            #d5f6f6 10px,
            paleturquoise 10px,
            #d5f6f6 20px
    );
}
.calender-event.nine {
    background-color: lightskyblue;
}
.calender-event.nine.not-approved {
    background: repeating-linear-gradient(
            45deg,
            lightskyblue,
            #ceebfd 10px,
            lightskyblue 10px,
            #ceebfd 20px
    );
}
.calender-event.ten {
    background-color: burlywood;
}
.calender-event.ten.not-approved {
    background: repeating-linear-gradient(
            45deg,
            burlywood,
            #f4e7d7 10px,
            burlywood 10px,
            #f4e7d7 20px
    );
}

.tooltip-inner td strong, .tooltip-inner td span {
    float: left!important;
}
.tooltip-inner td:nth-child(2) {
    padding-left: 5px;
}