.jumbotron {
    margin-top: 5rem;
    padding: 1.5rem 2rem;
}
.jumbotron .display-3.h1 {
    font-size: 2.5rem;
}
.jumbotron .display-3.h2 {
    font-size: 2rem;
}
.jumbotron .input-group {
    margin-top: 10px;
}
.jumbotron input[type="password"] {
    margin-top: 10px;
}
.jumbotron button {
    margin-top: 10px;
}
.jumbotron button:hover {
    cursor: pointer;
}